/* ------------------------------ General -----------------------------*/

/* Global color variables */
:root {
    --colorwow: rgb(0, 0, 0);
}

html {
    scroll-behavior: smooth;
}

/* Removing white border */
body {
    margin: 0;
    background-color: black;
}

/* Removing default link styling */
a:-webkit-any-link {
    color: inherit;
    cursor: pointer;
    text-decoration:inherit;
}
/* ------------------------------ Navbar -----------------------------*/
/* Navbar container */
.navbar {
    overflow: hidden;
    position: fixed;
    width: 100%;
    transition: .35s;
    transition-timing-function: ease-out;
    z-index: 1;
    display: flex;
    justify-content: center;
    background-image: linear-gradient(black 10%, transparent);

}


@keyframes nav1 {
    from {
        transform: translateY(0);
        color: rgba(200, 200, 200, 0.3);
    }
    to {
        transform: translateY(0.4em);
        color: rgba(200, 200, 200, 0.5);
    }
}

@keyframes nav2 {
    from {
        transform: translateY(0);
        color: rgba(200, 200, 200, 0.3);
    }
    to {
        transform: translateY(0.3em);
        color: rgba(200, 200, 200, 0.5);
    }
}

@keyframes nav3 {
    from {
        transform: translateY(0);
        color: rgba(200, 200, 200, 0.3);
    }
    to {
        transform: translateY(0.4em);
        color: rgba(200, 200, 200, 0.5);
    }
}

.nav1 {
    animation-name: nav1;
    animation-duration: 9s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-delay: .5s;
    animation-fill-mode: both;
}

.nav2 {
    animation-name: nav2;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-delay: .4s;
    animation-fill-mode: both;
}

.nav3 {
    animation-name: nav3;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-delay: .9s;
    animation-fill-mode: both;
}

/* Navbar links */
.navbarPages a {
    float: left;
    display: block; 
    font-family: 'Exo 2';
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}

/* Navbar links on hover */
.navbarPages a:hover {
    color: rgba(255, 255, 255, 0.638);
    font-size: 16.02px;
    transition: 0.5s
}

/* Navbar highlight active page */
.navbarPages a.active {
    font-weight: bolder;
}

/* ------------------------------ Index -----------------------------*/

/* Top section of Index */
.banner {
    background: url(images/banner.JPG);
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: fixed;
    background-size: cover;
    height: 80vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3vw;
    
  }

  @keyframes letter {
    from {
        transform: translateY(0em);
        color: rgba(200, 200, 200, 0.6);
    }
    to {
        transform: translateY(1em);
        color: rgba(200, 200, 200, 0.9);
    }
}

  /* "Meet Monty" */
  .bannerText {
    font-family: 'Palette Mosaic';
    font-size: 6vw;
    color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    text-shadow: 1px 7px 15px black;
    text-align: center;
    white-space: nowrap;
  }

/*Individual letters*/
.bannerText span {
    margin: 0 -0.3em;
    animation-name: letter;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-fill-mode: both;
    animation-delay: 0.5s;
}

.bannerText span:nth-child(11n) {
    animation-name: letter;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-fill-mode: both;
    animation-delay: 1.0s;
}

.bannerText span:nth-child(5n) {
    animation-name: letter;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-fill-mode: both;
    animation-delay: 1.5s; 
}

.bannerText span:nth-child(8n) {
    animation-name: letter;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-fill-mode: both;
    animation-delay: 2.0s; 
}

.bannerText span:nth-child(10n) {
    animation-name: letter;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-fill-mode: both;
    animation-delay: 2.5s; 
}

.bannerText span:nth-child(6n) {
    animation-name: letter;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-fill-mode: both;
    animation-delay: 3.0s; 
}

.bannerText span:nth-child(3n) {
    animation-name: letter;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-fill-mode: both;
    animation-delay: 3.5s; 
}

.bannerText span:nth-child(9n) {
    animation-name: letter;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-fill-mode: both;
    animation-delay: 4.0s; 
}

.bannerText span:nth-child(2n) {
    animation-name: letter;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-fill-mode: both;
    animation-delay: 4.5s; 
}

.bannerText span:nth-child(7n) {
    animation-name: letter;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-fill-mode: both;
    animation-delay: 5.0s; 
}

.bannerText span:nth-child(4n) {
    animation-name: letter;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-fill-mode: both;
    animation-delay: 5.5s; 
}


  
  /* "Learn More" button on banner" */
  .bannerButton {
    transition: .3s;
    color: rgba(255, 255, 255, 0.882);
    font-size: 300%;
    text-shadow: 0px 7px 15px black;
  }
  
  .bannerButton:hover {
    font-size: 400%;
    text-shadow: 0px 18px 15px black;
  }

/* ----------------------------- Pages -----------------------------*/

/* --------------------- media queries: 775px --------------------------*/

/* when screen is smaller than 775px */
@media screen and (max-width: 775px) {
    .nav1, .nav2, .nav3 {padding: 1em 5vw;}  
}

/* when screen is bigger than 775px */
@media screen and (min-width: 775px) {
    .nav1, .nav2, .nav3 {padding: 2em 5vw;}
}