/* ------------------------------ General -----------------------------*/

/* Global color variables */
:root {
    --colorwow: rgb(0, 0, 0);
}

html {
    scroll-behavior: smooth;
}

/* Removing white border */
body {
    margin: 0;
    background-color: black;
}

/* Removing default link styling */
a:-webkit-any-link {
    color: inherit;
    cursor: pointer;
    text-decoration:inherit;
}
/* ------------------------------ Navbar -----------------------------*/
/* Navbar container */
.navbar {
    overflow: hidden;
    position: fixed;
    width: 100%;
    transition: .35s;
    transition-timing-function: ease-out;
    z-index: 1;
    display: flex;
    justify-content: center;
    background-image: linear-gradient(black 10%, transparent);

}


@keyframes nav1 {
    from {transform: translateY(0)}
    to {transform: translateY(0.4em)}
}

@keyframes nav2 {
    from {transform: translateY(0)}
    to {transform: translateY(0.3em)}
}

@keyframes nav3 {
    from {transform: translateY(0)}
    to {transform: translateY(0.4em)}
}

.nav1 {
    animation-name: nav1;
    animation-duration: 9s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-delay: .5s;
    animation-fill-mode: both;
}

.nav2 {
    animation-name: nav2;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-delay: .4s;
    animation-fill-mode: both;
}

.nav3 {
    animation-name: nav3;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-delay: .9s;
    animation-fill-mode: both;
}

/* Navbar links */
.navbarPages a {
    float: left;
    display: block; 
    font-family: 'Exo 2';
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}

/* Navbar links on hover except the spacer */
.navbarPages a:hover {
    color: rgba(255, 255, 255, 0.65);
    font-size: 16.02px;
    transition: 0.5s
}

/* Navbar highlight active page */
.navbarPages a.active {
    font-weight: bolder;
}

/* ------------------------------ Index -----------------------------*/

/* ----------------------------- Pages -----------------------------*/

/* --------------------- media queries: 775px --------------------------*/

/* when screen is smaller than 775px */
@media screen and (max-width: 775px) {
    .nav1, .nav2, .nav3 {padding: 1em 5vw;}  
}

/* when screen is bigger than 775px */
@media screen and (min-width: 775px) {
    .nav1, .nav2, .nav3 {padding: 2em 5vw;}
}